*{
  font-family: cursive, monospace, sans-serif;
  --gold: #EFC69B;
  --red: #AF1B3F;
  --dark: #473144;
  --border-width: 2px;
  margin: 0;
}
html, body{
  font-size: 1.1em;
  height: 100%;
}
header{
  .skiptocontent a {
    /* set the element to absolute positioning */
    position: absolute;
    /* move it off screen */
    /* display: none; */
    /* Make sure it will be on the left edge of the screen */
    left: 0;
    top: -40px;
    /* Change the background and color to something that stands out */
    background-color: #AF1B3F;
    color: white;
    padding: 0.2em;
  }
  .skiptocontent a:focus {
    /* Move it back on when focused */
    top: 0;
  }

  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
  }
}
nav{
  box-sizing: border-box;
  width: 100%;
  border-top: var(--gold) var(--border-width) solid;
  border-bottom: var(--gold) var(--border-width) solid;
  padding: 1em 4em;
  ul{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    li{
      list-style: none;
      font-size: 1.2em;
      a{
        text-decoration: none;
        color: var(--red);
        font-weight: bold;
      }
    }
  }

}

main{
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 15em;

  article.review-card{
    display: flex;
    flex-direction: column;
    padding: 1em;

    figure.book-info{
      display: flex;
      img{
        width: 200px;
        height: auto;
        padding-right: 1em;
        border-right: var(--border-width) var(--gold) solid;
      }
      ul{
        padding-left: 1em;
        font-size: 1.1em;
        li{
          font-family: 'Times New Roman', Times, serif;
          list-style: none;
          display: flex;
          justify-content: space-between;
          
          .value{
            font-family: inherit;
            text-align: left;
            min-width: 7em;
          }
        }
        .book-title{
          color: var(--red);
          font-size: 1.7em;
          font-weight: bold;
        }
      }
    }
    .book-review{
      padding: 1em 0;
      a{
        color: var(--red);
        text-decoration: none;
        font-style: italic;
        white-space: nowrap;
      }
    }
  }
  

  aside.filter{
    border: var(--border-width) solid var(--gold);
    height: 100%;
  }
}